/* *,
*::before,
*::after {
  font-family: sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
} */
body {
  background: linear-gradient(-45deg, #c7d4e3, #9fb3c4, #9f9fdb);
}
.headline {
  text-align: center;
  color: rgb(9, 9, 9);
  padding-top: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 4px;
  font-size: 20px;
}
/*card*/
.card-grid {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  background: linear-gradient(-45deg, #cec1cc, #7891ab, #afaeb2);
  padding: 1rem;
  border: 1px solid rgb(111, 113, 113);
  border-radius: 0.25rem;
  max-width: 400px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.card:hover {
  border: 2px solid rgb(37, 12, 129);
  transform: scale(1.1);
  transition: 200ms transform ease-in-out;
}
.card p {
  font-weight: bold;
}

.title {
  margin-bottom: 0.5rem;
}
.card-bottom {
  margin-top: 1rem;
}
.card-content {
  font-size: 0.9rem;
}
/*buttons*/
.button {
  display: flex;
  justify-content: center;
}
.btn {
  --color: hsl(15, 19%, 88%);
  background: var(--color);
  color: rgb(7, 6, 6);
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
  margin: 0.2rem;
}

.btn:hover,
.btn:focus {
  background: hsl(101, 80%, 48%);
}
.btn.btn-outline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
  background: hsl(203, 81%, 58%);
}

/*images*/
img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}
img:hover {
  background-color: rgb(27, 15, 58);
}
/*Navigation*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(-45deg, #c221a7, #3970f0, #1a0a64);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  border-radius: 10px;
}
nav a:hover {
  color: rgb(97, 202, 206);
  transform: rotate(10deg);
}
a {
  text-decoration: none;
  color: rgb(238, 238, 231);
  display: block;
  transition: all 0.3s ease-out;
  padding: 5px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  font-family: cursive;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 15px;
}
.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25px;
}
.nav-links .current {
  font-weight: bold;
}
/*footer*/
footer {
  align-items: center;
  background: linear-gradient(-45deg, #c221a7, #3970f0, #1a0a64);
  color: rgb(239, 229, 92);
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  left: 5px;
  right: 5px;
  margin-bottom: 5px;
}
